{% extends 'base.html' %}
{% block title %}DevEvents{% endblock title %}
{% block homeactivity %}active{% endblock homeactivity %}
{% block body %}
<div class="container">
    <h1 style="text-align:center">Welcome to DevEvents</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for event in events %}
                <div class="carousel-item {% if forloop.first %}active{% endif %} mx-3" style="height:70vh">
                    <a href="/event/{{event.slug}}" class="my-0" style="text-decoration:none"><h2 style="color:black">{{event.title}}</h2></a><span style="color:blue"> by {{event.author}}</span>
                    <p class="my-0" style="font-size:20px">{{event.description}}</p>
                    <img src="/media/{{event.image}}" width="95%" height="95%" style="border:2px solid black">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock body %}