*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
}
nav{
    display: flex;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: black;}
.logo{
    display: flex;
    align-items: flex-start;
}
.logo img{
    width: 88px;
    padding: 0 5px;
}
nav ul li {
    list-style-type: none;
    padding: 0 23px;}
nav ul{
    height: 58px;
    display: flex;
    justify-content:center;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.container{
    min-height: calc(100vh - 12vh - 58px);
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
.box1{
    width: 20vw;
    height: calc(100vh - 12vh - 58px);
    background-color: brown;
}
.box2{
    width: 60vw;
    height: calc(100vh - 12vh - 58px);
    background-color: blue;
}
.box3{
    width: 20vw;
    height: calc(100vh - 12vh - 58px);
    background-color: aqua;
}
.box3 iframe{
    width: 20vw;
    height: calc(100vh - 12vh - 58px);
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}
