{% extends 'base.html' %}
{% block title %}Current Events{% endblock title %}
{% block eventactivity %}active{% endblock eventactivity %}
{% block body %}
<div class="container m-2">
    <h1 class="m-2">Ongoing Events</h1>
    <div class="container m-1">
        {% for event in current_events %}
            <div class="container badge bg-secondary my-1">
                <h1 class="m-1"><a href="/event/{{event.slug}}">{{event.title}}</a><span>  by {{event.author}}</span></h1>
                <p class="m-1">{{event.description}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}

